<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ pageTitle }} • Entropy - Modern and Declarative Deno Framework</title>

    <meta
      name="description"
      content="Entropy is a modern and declarative backend development framework for Deno. It makes it easy to create fast and secure web applications with awesome developer experience."
    >
    <meta name="google-site-verification" content="YLbOF0EG5Lkg0VgPYAAs-dz5Tg8hKhIenb30Wv9rq3c">
    <meta name="msvalidate.01" content="4016AE686DBE2FC2529C4E30DE92D125">

    <link rel="icon" href="/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&family=Roboto+Mono:wght@400&display=swap"
    >

    @embed('/styles.css')
    @embed('/prism.css')

    <script src="/prism.js" @nonceProp defer></script>

    <script @nonceProp>
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "i7tpxjfjbc");
    </script>

    @hotReload
  </head>

  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="navbar__logo">
          <img class="navbar__logo-image navbar__logo-image--desktop" src="/logo_full.png" draggable="false" alt="Entropy logo" width="128">
          <img class="navbar__logo-image navbar__logo-image--mobile" src="/logo.png" draggable="false" alt="Entropy logo" width="42">
        </a>

        <ul class="navbar__links">
          <li class="navbar__link">
            <a
              href="/"
              class="navbar__link-item{{ $request.path === '/' ? ' navbar__link-item--active' : '' }}"
            >
              Home
            </a>
          </li>

          <li class="navbar__link">
            <a
              href="/docs"
              class="navbar__link-item{{ $request.path.includes('/docs') ? ' navbar__link-item--active' : '' }}"
            >
              Docs
            </a>
          </li>

          <li class="navbar__link">
            <a
              href="https://github.com/entropy-deno"
              target="_blank"
              rel="noopener noreferrer"
              class="navbar__link-item"
            >
              GitHub
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="{{ $request.path === '/' ? 'home' : $request.path.includes('docs') ? 'docs' : '' }}">
      <div class="loader">
        <div class="loader__spinner"></div>
      </div>

      @if ($request.path.includes('docs'))
        <nav class="docs__nav">
          <p>Essentials</p>

          @for ([link, label] in navigationLinks.essentials)
            <a
              class="docs__nav-link{{ $request.path === `/docs${link}` ? ' docs__nav-link--active' : '' }}"
              href="/docs{{ link }}"
            >
              {{ label }}
            </a>
          @/for

          <p>Advanced</p>

          @for ([link, label] in navigationLinks.advanced)
            <a
              class="docs__nav-link{{ $request.path === `/docs${link}` ? ' docs__nav-link--active' : '' }}"
              href="/docs{{ link }}"
            >
              {{ label }}
            </a>
          @/for
        </nav>
      @/if

      @slot('content')
    </main>

    <footer class="footer">
      <img src="/logo_full.png" alt="Entropy logo" width="164">

      <p class="footer__info">
        Copyright © {{ new Date().getFullYear() }} Dominik Rajkowski
      </p>
    </footer>
  </body>
</html>
