<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ pageTitle }} • Entropy – Modern and Declarative Deno Framework</title>

    <meta
      name="description"
      content="Entropy is a modern and declarative backend development framework for Deno. It makes it easy to create fast and secure web applications with awesome developer experience."
    >
    <meta name="google-site-verification" content="YLbOF0EG5Lkg0VgPYAAs-dz5Tg8hKhIenb30Wv9rq3c">
    <meta name="msvalidate.01" content="4016AE686DBE2FC2529C4E30DE92D125">

    <link rel="icon" href="/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&family=Roboto+Mono:wght@400&display=swap"
    >

    @embed([
      '/styles/master.css',
      '/styles/home.css',
      '/styles/docs.css',
      '/styles/prism.css',
    ])

    <script src="/scripts/prism.js" @nonceProp defer></script>

    <script @nonceProp>
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "i7tpxjfjbc");
    </script>

    @if ($request.path().includes('/docs'))
      <script @nonceProp>
        const kebabCase = string => string
          .replace(/([a-z])([A-Z])/g, '$1-$2')
          .replace(/[\s_]+/g, '-')
          .toLowerCase();

        document.addEventListener('DOMContentLoaded', () => {
          const headerElements = document.querySelectorAll('.docs :is(h2, h3)');

          const headers = [...headerElements].map((header) => ({
            type: Number(header.tagName[1]) - 1,
            content: header.innerText,
          }));

          headerElements.forEach((header) => {
            header.setAttribute('id', kebabCase(header.innerText));

            header.innerHTML = header.innerHTML.replace(
              header.innerText,
              `<a href="#${kebabCase(header.innerText)}">${header.innerText}</a>`,
            );
          });

          const list = document.querySelector('.outline');

          headers.forEach((header) => {
            const link = document.createElement('a');

            link.setAttribute('href', `#${kebabCase(header.content)}`);

            link.innerHTML = header.content;
            link.classList.add('outline__item');
            link.classList.add(`outline__item--level-${header.type}`);

            list.appendChild(link);
          });
        });
      </script>
    @/if

    @hotReload
  </head>

  <body>
    <div class="loader">
      <div class="loader__spinner"></div>
    </div>

    <header>
      <nav class="navbar">
        <a href="/" class="navbar__logo">
          <img class="navbar__logo-image navbar__logo-image--desktop" src="/logo-full.png" draggable="false" alt="Entropy logo" width="128">
          <img class="navbar__logo-image navbar__logo-image--mobile" src="/logo.png" draggable="false" alt="Entropy logo" width="32">
        </a>

        <ul class="navbar__links">
          <li class="navbar__link">
            <a
              href="/"
              class="navbar__link-item{{ $request.path() === '/' ? ' navbar__link-item--active' : '' }}"
            >
              Home
            </a>
          </li>

          <li class="navbar__link">
            <a
              href="/docs"
              class="navbar__link-item{{ $request.path().includes('/docs') ? ' navbar__link-item--active' : '' }}"
            >
              Docs
            </a>
          </li>

          <li class="navbar__link">
            <a
              href="https://github.com/entropy-deno"
              target="_blank"
              rel="noopener noreferrer"
              class="navbar__link-item"
            >
              GitHub
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="{{ $request.path() === '/' ? 'home' : $request.path().includes('docs') ? 'docs' : '' }}">
      @if ($request.path().includes('docs'))
        <nav class="docs__nav">
          <p class="docs__nav-title">Essentials</p>

          @for ([link, label] in navigationLinks.essentials)
            <a
              class="docs__nav-link{{ $request.path() === `/docs${link}` ? ' docs__nav-link--active' : '' }}"
              href="/docs{{ link }}"
            >
              {{ label }}
            </a>
          @/for

          <p class="docs__nav-title">Advanced</p>

          @for ([link, label] in navigationLinks.advanced)
            <a
              class="docs__nav-link{{ $request.path() === `/docs${link}` ? ' docs__nav-link--active' : '' }}"
              href="/docs{{ link }}"
            >
              {{ label }}
            </a>
          @/for
        </nav>
      @/if

      @slot('content')
    </main>

    @if ($request.path().includes('docs'))
      <aside class="outline">
        <p class="outline__title">On this page</p>
      </aside>
    @/if

    <footer class="footer">
      <img src="/logo-full.png" alt="Entropy logo" width="164">

      <p class="footer__info">
        Copyright © {{ new Date().getFullYear() }} Dominik Rajkowski
      </p>
    </footer>
  </body>
</html>
