<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Entropy | Deno Framework</title>

    <meta name="description" content="Modern and declarative backend development framework for Deno">

    <link rel="icon" href="/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto+Mono&display=swap"
    >
    <link rel="stylesheet" href="/styles.css">

    [hotReload]
  </head>

  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="navbar__logo">
          <img src="/logo-full.png" alt="Entropy logo" class="navbar__logo-img">
        </a>

        <ul class="navbar__links">
          <li class="navbar__link">
            <a href="/" class="navbar__link-item">Home</a>
          </li>

          <li class="navbar__link">
            <a href="/docs" class="navbar__link-item">Documentation</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="hero">
        <h1 class="header hero__header">
          A <span class="text-theme">declarative</span> web application framework for Deno
        </h1>

        <p class="hero__info">
          Entropy helps you in building performant and scalable web apps
        </p>

        <code class="code">
          <span class="text-theme--light">deno</span> run <span class="text-gray">-A</span> https://deno.land/x/entropy_cli/init.ts
        </code>
      </section>
    </main>
  </body>
</html>
