pre[class*="language-"] {
  overflow: auto;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #a1a3a7;
}

.token.punctuation {
  color: #abb2bf;
}

.token.tag,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #61afef;
}

.token.attr-name {
  color: #c590e9;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #e5c07b;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #c678dd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #98c379;
}
 