*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;

  --bg: #111827;
  --bg-block: #1b263e;
  --bg-soft: #161f33;
  --bg-navbar: rgba(7, 7, 8, 0.25);
  --border: #4b5563;
  --font-mono: 'Roboto Mono', monospace;
  --font-sans: 'Urbanist', sans-serif;
  --selection: #2eade3;
  --text: #f3f4f6;
  --text-gray: #c4cbd9;
  --text-dark: #052133;
  --theme: #38bdf8;
  --green: #34d399;
  --orange: #f8af27;
}

::selection {
  background: var(--selection);
  color: var(--text-dark);
}

body {
  --navbar-height: 74px;

  font-family: var(--font-sans);
  font-size: 16px;
  background: var(--bg-soft);
  color: var(--text);
  height: 100vh;
  overflow-x: hidden;
}

.text-gray {
  color: var(--text-gray);
}

.text-theme {
  color: var(--theme);
}

/* Navigation Bar Styling */

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(6px) saturate(140%);
  backdrop-filter: blur(6px) saturate(140%);
  background: var(--bg-navbar);
  border-bottom: 1px solid rgba(60, 62, 81, 0.177);
  z-index: 50;

  @media (min-width: 600px) {
    padding: 32px;
    justify-content: space-around;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar__logo-image--mobile {
  @media (min-width: 600px) {
    display: none;
  }
}

.navbar__logo-image--desktop {
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}

.navbar__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar__link-item {
  text-decoration: none;
  color: inherit;
  padding: 7px 12px;
  opacity: 0.7;
  border-radius: 10px;
  font-weight: 500;
  transition: opacity 0.2s ease;
  position: relative;
}

.navbar__link-item:hover {
  opacity: 0.8;
}

.navbar__link-item--active {
  background: var(--theme);
  color: var(--text-dark);
  opacity: 1;
}

/* Code Block Component Styling */

.code-block {
  background: var(--bg-soft);
  border-radius: 18px;
  padding-top: 0;
  overflow-x: auto;
  font-size: 15px;
  color: #b0b7c4;
}

.code-block__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 18px 18px 0 0;
  gap: 8px;
}

.code-block__control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.code-block__control:first-of-type {
  background: #ff5f57;
}

.code-block__control:nth-of-type(2) {
  background: #febc2e;
}

.code-block__control:last-of-type {
  background: #29c83f;
}

.code-block__file {
  opacity: 0.9;
  font-family: var(--font-sans);
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.code-block__code {
  font-family: var(--font-mono);
  display: block;
  line-height: 1.6;
  color: #c5cbd8;
  padding: 12px 20px;
}

.code {
  font-family: var(--font-mono);
  background: var(--bg-block);
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 13px;
  border: 1px solid var(--border);
  border-bottom-width: 2px;
}

.button {
  background: var(--theme);
  border: none;
  color: var(--text-dark);
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  font: inherit;
  margin-top: 12px;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.9;
}

.button svg {
  width: 18px;
  height: 18px;
}

.footer {
  height: 230px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  border-radius: 22px 22px 0 0;
  background: var(--bg);
  gap: 22px;
}

.footer__info {
  opacity: 0.7;
}
