*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #000;
  --bg-block: #181818;
  --border: #404040;
  --font-mono: 'Roboto Mono', monospace;
  --font-sans: 'Inter', sans-serif;
  --text: #f5f5f5;
  --theme: #9868ff;
}

body {
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--text);
  height: 100vh;
}

main {
  display: grid;
  place-items: center;
  height: 100%;
}

.header {
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.theme {
  color: var(--theme);
}

.hero {
  display: grid;
  place-items: center;
  gap: 14px;
}

.hero__header {
  max-width: 700px;
  text-align: center;
}

.hero__info {
  opacity: 0.6;
  max-width: 420px;
  text-align: center;
  margin-bottom: 18px;
}

.code {
  font-family: var(--font-mono);
  background: var(--bg-block);
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid var(--border);
  border-bottom-width: 2px;
}
