@layout('../layouts/master')
  <section class="home__hero">
    <h1 class="header home__hero-header">
      A <span class="text-theme">declarative</span> web backend framework for Deno
    </h1>

    <p class="home__info">
      Entropy helps you in building performant and scalable web apps with the most modern TypeScript runtime.
    </p>

    <a class="button" href="/docs">
      Get Started
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3">
      </svg>
    </a>
  </section>

  <section class="home__examples">
    <h1 class="header header--small">
      The <span class="text-theme">number one</span> for Deno applications
    </h1>

    <div class="home__examples-blocks">
      <pre class="code-block">
        <header class="code-block__header">
          <div class="code-block__control"></div>
          <div class="code-block__control"></div>
          <div class="code-block__control"></div>

          <p class="code-block__file">src/root.module.ts</p>
        </header><code class="code-block__code language-typescript">import { Module } from '@entropy/server';
import { RootController } from './root.controller.ts';

export class RootModule implements Module {
  public readonly controllers = [
    RootController,
  ];
}</code></pre><pre class="code-block">
            <header class="code-block__header">
              <div class="code-block__control"></div>
              <div class="code-block__control"></div>
              <div class="code-block__control"></div>

              <p class="code-block__file">src/root.controller.ts</p>
            </header><code class="code-block__code language-typescript">import { Controller, HttpStatus } from '@entropy/http';
import { Route } from '@entropy/router';

export class RootController extends Controller {
  @Route.Get('/')
  public index() {
    return this.render('home', {
      message: 'Hello, world!',
    });
  }

  @Route.Error(HttpStatus.NotFound)
  public notFound() {
    return this.render('404');
  }
}</code></pre>
    </div>
  </section>
@/layout
