@layout('../layouts/master')

@section('content')
  <section class="home__hero">
    <h1 class="header home__hero-header">A
      <div class="home__hero-text-roll-wrapper">
        <span class="home__hero-text-roll text-theme">
          
          <span>declarative</span>
          <span>transparent</span>
          <span>performant</span>
          <span>declarative</span>
        </span>
      </div> web backend framework for Deno
    </h1>

    <p class="home__info">
      Entropy is a simple backend framework that transcends the creation and maintenance of awesome web applictions built on the bleeding-edge TypeScript runtime.
    </p>

    <div class="home__button-strip">
      <a class="button button--animated" href="/docs">
        Get Started
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3">
        </svg>
      </a>

      <a class="button button--secondary" href="#about">
        Learn more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" 
          >
        </svg>        
      </a>
    </div>
  </section>

  <section class="home__examples" id="about">
    <h1 class="header header--small">
      <strong>Simple</strong> and <strong>powerful</strong> framework
    </h1>

    <p class="home__info"> 
      Our goal is to provide a tool that is <span class="text-theme">simple</span>, <span class="text-theme">easy</span> to
      use and <span class="text-theme">powerful</span> for modern web app development.
    </p>

    <p class="home__info"> 
      An instance of this philosophy is the built-in
      <span class="text-theme">templating engine</span> allowing the developer to express complex
      logic with a simple and memorable syntax.
    </p>

    <div class="home__examples-blocks">
      @raw
        <pre class="code-block">
<header class="code-block__header">
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<p class="code-block__file">views/posts/index.atom.html</p>
</header><code class="code-block__code language-html">@layout('../layouts/master')

@section('content')
  &lt;main>
    @for (post in posts)
      &lt;article class="post">
        {{ post.content }}
      &lt;/article>
    @empty
      &lt;p>There are no posts yet.&lt;/p>
    @/for
  &lt;/main>
@/section</code></pre>
      </div>
    @/raw
  </section>

  <section class="home__examples">
    <h1 class="header header--small">
      The <strong>number one</strong> choice for Deno applications
    </h1>

    <p class="home__info">
      Entropy offers a rich suite of <span class="text-theme">out-of-the-box tools</span> for common backend functionality. Using the carefully designed utilities,
      you can create fast and secure web apps with ease, accompanied by awesome developer experience.
    </p>

    <div class="home__examples-blocks">
      <pre class="code-block">
<header class="code-block__header">
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<p class="code-block__file">src/user.module.ts</p>
</header><code class="code-block__code language-ts">import { Module } from '@entropy/server';
import { UserController } from './user.controller.ts';

export class UserModule implements Module {
  public readonly channels = [];

  public readonly controllers = [
    UserController,
  ];
}</code></pre>

<pre class="code-block">
<header class="code-block__header">
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<p class="code-block__file">src/user.controller.ts</p>
</header><code class="code-block__code language-ts">import { Controller, Route } from '@entropy/router';

export class UserController extends Controller {
  @Route.Get('/users/:id')
  public async show(params: [string]) {
    return await this.render('pages/users/profile', {
      id: params.id,
    });
  }
}</code></pre>
    </div>

    <a class="button" href="/docs">
      Get Started
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
        >
      </svg>
    </a>
  </section>
@/section
