
@layout('../layouts/master')

@section('content')
  <section class="home__hero">
    <h1 class="header home__hero-header">
      <div class="home__hero-text-roll-wrapper">
        <span class="home__hero-text-roll text-theme">
          <span>A&nbsp;declarative</span>
          <span>A&nbsp;transparent</span>
          <span>A&nbsp;performant</span>
          <span>A&nbsp;declarative</span>
        </span>
      </div> web backend framework for Deno
    </h1>

    <p class="home__info">
    Entropy is a simple backend framework that <span style="color:var(--theme)">transcends</span> the creation and maintenance of awesome web applictions built on the bleeding-edge TypeScript runtime.</p>

    <div class="home__button-strip">
      <a class="button" href="#information">
        Get Started
      </a>

      <a class="button" href="/docs">
        Entropy Docs
      </a>
    </div>
  </section>

  <section id="information" class="home__examples">
    <h1 class="header header--small">
      <strong>Simple</strong> and <strong>transparent</strong>
    </h1>

    <p class="home__info"> 
      At <span style="color:var(--theme)">Entropy</span>, our primary goal is
      to maintain a framework that is both <span
        style="color:var(--theme)">easy</span> and <span
        style="color:var(--theme)">simple</span> to use for any kind of
      developer tackling any kind of project. Thus, we provide you with a
      solution that facilitates any and all modern web development needs.
    </p>

    <p class="home__info"> 
    Entropy allows the developer to express themselves in their <b>HTML</b> code with the use
      of an intuitive built-in <span style="color:var(--theme)">templating
        engine</span> designed to handle all simple and sophisticated projects.
    </p>

    <div class="home__examples-blocks">
      <pre class="code-block">
<header class="code-block__header">
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<p class="code-block__file">public/index.html</p>
@raw
</header><code class="code-block__code language-html">&lt;main>
  @for (post in posts)
    <article class="post">{{ post.content }}</article>
  @empty
    <p>There are no posts yet.</p>
  @/for

  @if (!user)
    <h2>You have to log in.</h2>
  @/if
&lt;/main>
</code></pre>
@/raw

      <p style="max-width:20%">
      </p>
    </div>
  </section>

  <section class="home__examples">
    <h1 class="header header--small">
      The <strong>number one</strong> choice for Deno applications
    </h1>

    <p class="home__info">
      Create fast and secure web apps with awesome developer experience.
    </p>

    <div class="home__examples-blocks">
      <pre class="code-block">
<header class="code-block__header">
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<p class="code-block__file">src/user.module.ts</p>
</header><code class="code-block__code language-ts">import { Module } from '@entropy/server';
import { UserController } from './user.controller.ts';

export class UserModule implements Module {
  public readonly channels = [];

  public readonly controllers = [
    UserController,
  ];
}</code></pre><pre class="code-block">
<header class="code-block__header">
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<div class="code-block__control"></div>
<p class="code-block__file">src/user.controller.ts</p>
</header><code class="code-block__code language-ts">import { Controller } from '@entropy/http';
import { Route } from '@entropy/router';

export class UserController extends Controller {
  @Route.Get('/users/:id')
  public show(id: string) {
    return this.render('pages/users/profile', {
      id,
    });
  }
}</code></pre>
    </div>
  </section>
@/section
