.docs {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 0;

  @media (min-width: 900px) {
    gap: 5rem;
    padding: 2rem 7rem;
  }
}

.docs__nav {
  display: none;

  @media (min-width: 900px) {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: fit-content;
    max-height: 80vh;
    min-width: 280px;
    top: calc(var(--navbar-height) + 4rem);
    overflow-y: auto;
  }
}

.docs__nav-title {
  --half-margin: 0.4rem;
  font-weight: 600;
  margin-bottom: var(--half-margin);
  color: var(--text-gray);

  &:not(:first-child) {
    margin-top: calc(var(--half-margin) * 3.2);
  }
}

.docs__nav-link {
  font-size: 16px;
  color: inherit;
  opacity: 0.75;
  padding: 7px 0;
  text-decoration: none;
  transition: opacity 0.2s ease;
  user-select: none;

  &:not(.docs__nav-link--active):hover {
    opacity: 1;
  } 
}

.docs__nav-link--active {
  background: var(--bg-soft);
  color: var(--theme);
  font-weight: 600;
  opacity: 1;
}

.outline {
  display: none;
  --offset-right: -20px;

  @media (scripting: enabled) and (min-width: 800px) {
    position: sticky;
    top: calc(var(--navbar-height) + 4rem);
    margin-right: var(--offset-right);
    height: fit-content;
    max-height: 80vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: var(--offset-right);
      width: 4px;
      height: 100%;
      background: var(--border);
      border-radius: 6px;
    }
  }
}

.outline__title {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 1.1rem;
}

.outline__item {
  text-decoration: none;
  color: inherit;
  opacity: 0.55;
  height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.1s ease;
  position: relative;
  font-weight: 600;

  &:hover {
    opacity: 0.7;
  }
}

.outline__item--active {
  color: var(--theme);
  opacity: 1;
}

.outline__item--level-2 {
  position: relative;
  left: 12px;
}

.docs__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: min(80ch, 95%);
  height: fit-content;
  color: var(--text-docs);

  --h-size-order: 2.1rem;
  --h-margin-order: 8px;

  @media (min-width: 460px) {
    --h-margin-order: 12px;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & :is(h1, h2, h3) {
    font-weight: 600;
    scroll-margin-top: calc(var(--navbar-height) + 2rem);
    position: relative;

    & a::before {
      background: none !important;
    }

    &:hover a::before {
      content: '#' !important;
      color: var(--theme);
      position: absolute;
      left: -28px;
      top: 0;
    }

    & code {
      font-size: calc(var(--h-size-order) * 0.5) !important;
    }
  }

  & h1 {
    font-size: var(--h-size-order);
    margin: calc(var(--h-margin-order) * 3) 0 var(--h-margin-order);
  }

  & h2 {
    font-size: calc(0.85 * var(--h-size-order));
    margin: calc(var(--h-margin-order) * 3) 0 var(--h-margin-order);
  }

  & h3 {
    font-size: calc(0.6 * var(--h-size-order));
    margin: calc(var(--h-margin-order) * 2) 0 var(--h-margin-order);
  }

  & a:not(.pager__link) {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: opacity 0.2s ease-in-out;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 1px;
      width: 100%;
      background: var(--theme);
    }

    &:hover::before {
      height: 2px;
      bottom: -3px;
    }
  }

  & :is(p:not(.code-block__file), li, .info, .tip, .warning) {
    font-size: 17px;
    line-height: 1.7;
    opacity: 0.8;
  }

  & ul {
    list-style: none;
  }

  & ul > li {
    margin-left: 24px;
    position: relative;
    line-height: 1.8;

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: var(--theme);
      border-radius: 50%;
      position: absolute;
      left: -20px;
      top: 10px;
    }
  }

  & .info, .tip, .warning {
    font-size: 16px;
    color: var(--propagated-color);
    padding: 16px 18px;
    border: 2px solid var(--propagated-color);
    border-radius: 12px;

    &::before {
      content: var(--propagated-caption);
      text-transform: uppercase;
      font-weight: 600;
      display: block;
      margin-bottom: 8px;
      color: var(--text-gray);
    }

    & code {
      color: var(--propagated-color) !important;
    }
  }

  & .info {
    --propagated-color: var(--theme);
    --propagated-caption: 'Info';
  }

  & .tip {
    --propagated-color: var(--green);
    --propagated-caption: 'Tip';
  }

  & .warning {
    --propagated-color: var(--orange);
    --propagated-caption: 'Warning';
  }

  & .table {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    border-radius: 12px;

    & .table__row {
      display: flex;
      align-items: center;
      gap: 18px;

      &:first-child {
        font-weight: 600;
        color: var(--theme);
        border-radius: 12px 12px 0 0;
      }

      &:last-child {
        border-radius: 0 0 12px 12px;
      }

      &:nth-child(even) {
        background: var(--bg-block);
      }

      & div {
        padding: 14px 18px;
        min-width: 212px;
      }

      & code {
        background: var(--bg-soft);
        color: var(--theme);
      }
    }
  }

  & code:not(.code-block__code) {
    font-size: 14px;
    font-family: var(--font-mono);
    color: var(--text-gray);
    border-radius: 5px;
    padding: 3px 7px;
    margin: 0 2px;
    background: var(--bg-code);
    border: 1px solid var(--border);
    font-weight: 600;
  }
}

.pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  padding: 0;
  margin: 0;
  margin-top: 46px;

  @media (min-width: 460px) {
    flex-direction: row;
  }
}

.pager__link {
  text-decoration: none !important;
  padding: 14px 16px;
  border-radius: 12px;
  border: 2px solid var(--border);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-gray);
  transition: all 0.2s ease;

  & svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: #fff;
    border-color: var(--theme);
  }
}
