*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  scroll-behavior: smooth;

  --bg: #111827;
  --bg-block: #1b263e;
  --bg-button: #1f2c47;
  --bg-button-hover: #243251;
  --bg-soft: #161f33;
  --bg-navbar: rgba(7, 7, 8, 0.25);
  --bg-scrollbar: #3a4660;

  --selection: #2eade3;
  --theme: #a78bfa;
  --green: #34d399;
  --orange: #f8af27;

  --border: #4b5563;
  --text: #f3f4f6;
  --text-gray: #c4cbd9;
  --text-dark: #052133;

  --font-mono: 'Roboto Mono', monospace;
  --font-sans: 'Urbanist', sans-serif;
}

::selection {
  background: var(--selection);
  color: var(--text-dark);
}

::-webkit-scrollbar {
  background: transparent;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: var(--bg-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  --navbar-height: 70px;
  overflow-x: hidden;

  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--text);

  background: var(--bg-soft);
  height: 100vh;
}

.text-gray {
  color: var(--text-gray);
}

.text-theme {
  color: var(--theme);
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--bg);
  animation: fade 40ms ease 0.4s forwards;
  z-index: 1000;
}

.loader__spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid var(--theme);
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;

  width: 100%;
  height: var(--navbar-height);
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--bg-navbar);
  -webkit-backdrop-filter: blur(6px) saturate(140%);
  backdrop-filter: blur(6px) saturate(140%);
  border-bottom: 1px solid rgba(60, 62, 81, 0.177);

  @media (min-width: 600px) {
    padding: 32px;
    justify-content: space-around;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar__logo-image--mobile {
  @media (min-width: 600px) {
    display: none;
  }
}

.navbar__logo-image--desktop {
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}

.navbar__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar__link-item {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding: 7px 12px;
  opacity: 0.7;
  border-radius: 10px;
  transition: opacity 0.2s ease;
}

.navbar__link-item:hover {
  opacity: 0.8;
}

.navbar__link-item--active {
  background: var(--theme);
  color: var(--text-dark);
  opacity: 1;
}

.code-block {
  overflow-x: auto;
  background: var(--bg-soft);
  border-radius: 18px;
  padding-top: 0;
  font-size: 15px;
  color: #b0b7c4;
}

.code-block__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 18px 18px 0 0;
  gap: 8px;
}

.code-block__control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.code-block__control:first-of-type {
  background: #ff5f57;
}

.code-block__control:nth-of-type(2) {
  background: #febc2e;
}

.code-block__control:last-of-type {
  background: #29c83f;
}

.code-block__file {
  font-family: var(--font-sans);
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.code-block__code {
  font-family: var(--font-mono);
  display: block;
  line-height: 1.6;
  color: #c5cbd8;
  padding: 12px 20px;
}

.code {
  font-size: 13px;
  font-family: var(--font-mono);
  background: var(--bg-block);
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  border-bottom-width: 2px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 12px;

  font: inherit;

  background: var(--theme);
  color: var(--text-dark);

  padding: 12px 16px;
  text-decoration: none;
  margin-top: 12px;

  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  opacity: 0.9;
}

.button--secondary {
  background: var(--bg-button);
  color: var(--text-gray);
}

.button--secondary:hover {
  background: var(--bg-button-hover);
}

.button svg {
  width: 20px;
  height: 20px;
  opacity: 0.9;
}

.footer {
  height: 250px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  border-radius: 22px 22px 0 0;
  background: var(--bg);
  gap: 22px;
}

.footer__info {
  opacity: 0.7;
}
