<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Entropy | Deno Framework</title>

    <meta name="description" content="Modern and declarative backend development framework for Deno">

    <link rel="icon" href="/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto+Mono&display=swap"
    >
    <link rel="stylesheet" href="/styles.css">

    [hotReload]
  </head>

  <body>
    <main>
      <section class="hero">
        <h1 class="header hero__header">
          A <span class="theme">declarative</span> web application framework for Deno
        </h1>

        <p class="hero__info">
          Entropy helps you in building performant and scalable web apps
        </p>

        <code class="code">
          deno run -A https://deno.land/x/entropy_cli/init.ts
        </code>
      </section>
    </main>
  </body>
</html>
